.title {
    font-size: 20;
}

.animationShowLong {
    animation-name: show;
    animation-duration: 1;
}

.animationShow {
    animation-name: show;
    animation-duration: 0.4;
}

.animationHide {
    animation-name: hide;
    animation-duration: 0.4;
}

Page .text-error {
    color: #F44336;
    font-size: 14;
}