.input-layout{
    padding: 10;
}
.content-feedback {
    border-width: 1;
    border-color : #ccc;
}
.content-feedback-error {
    border-width: 1;
    border-color : red;
}

Page .text-error {
    color: #F44336;
    font-size: 14;
}