.animationZoom {
    animation-name: zoom;
    animation-duration: 2;
}

@keyframes zoom {
    0% { 
        transform: none;
    }
    30% { 
        transform: scale(1.2, 1.2);
        opacity: 1; 
    }
    80% {
        transform: none;
        opacity: 1; 
    }
    100% {
        transform: scale(0, 0);
        opacity: 0.3;
    }
    
}